{
  "manifest_version": 2,
  "name": "EnvAlert",
  "version": "1.0",
  "description": "",
  "content_scripts": [
    {
      "matches": [
        "https://staff.example.com/*"
      ],
      "js": ["main.js"],
      "css": ["main.css"],
      "run_at": "document_end"
    }
  ]
}
